@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --main-bg: #fafafb;
    --second-bg: #fff;
    --txt-color: #455560;
    --txt-white: #fff;
    --card-title-color:#00986A;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    --logo-full: url('../images/logo-full-light.webp');
    --logo-square: url('../images/logo-square-light.svg');
    --sidebar-bg:#00986A;

    --main-bg-light: #fafafb;
    --second-bg-light: #ffffff;
    --txt-color-light: #333333;
    --box-shadow-light: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    --logo-full-light: url('../images/logo-full-light.webp');
    --logo-square-light: url('../images/logo-square-light.svg');
    --sidebar-bg-light:#00986A;
    --seperator-color-light:#E5E8EB;

    --main-bg-dark: #101014;
    --second-bg-dark: #1A1A1F;
    --txt-color-dark: #cccccc;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    --logo-full-dark: url('../images/logo-full-dark.webp');
    --logo-square-dark: url('../images/logo-square-dark.svg');
    --sidebar-bg-dark:#1C1C23;
    --seperator-color-dark:#363640;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sd-color-green-1: #00DF9B;
    --sd-color-green-2: #15433B; 

    --sidebar-width: 240px;
    --border-radius: 5px;
    --topnav-height: 60px;

    --topnav-logo-height: 0px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Comfortaa','PingFang SC','Microsoft YaHei', sans-serif;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    
}

/*窄屏时去掉侧边栏*/
@media screen and (max-width: 1024px) {
    :root {
        --sidebar-width:0px;
        --topnav-logo-height: 36px;
    }
}

body {
    /*font-family: "Roboto", sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

input:focus {
    border: 2px solid var(--main-color);
}

textarea {
    border: 2px solid transparent;
    outline: 0;
}

textarea:focus {
    border: 2px solid var(--main-color);
}

textarea:hover {
    border: 2px solid var(--second-color);
}

.page-header {
    margin-bottom: 40px;
    text-transform: capitalize;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--second-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 1px solid var(--main-bg);
}

.full-height {
    height: 100%;
}

.card.full-height {
    height: calc(100% - 30px);
}

.card__header {
    text-transform: capitalize;
}

.card > div ~ div {
    margin-top: 30px;
}

.card__footer {
    text-align: center;
    text-transform: capitalize;
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}

.red-color {
    background-color: var(--main-color-red);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}

.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}


.default-btn:hover {
    background-image: linear-gradient(
        to right,
        var(--main-color),
        var(--second-color)
    );
    color: var(--txt-white);
}


.bg-box {
    background-color: var(--main-bg);
}

.dropdown-icon-fa {
    font-size: 1.0rem;
    transition: color ease-in-out 0.4s;
    line-height: 24px;
    margin-right: 0.5rem;
}

.fa-clone {
    font-size: 1.0rem;
    transition: color ease-in-out 0.4s;
    color: #ff7a18;
  }

  .fa-check {
    font-size: 1.2rem;
    transition: color ease-in-out 0.4s;
    color: 22C493;
  }

  .fa-registered {
    color: #FFA800;
  }

  .fa-check-circle {
    color: #22C493;
  }

  .fa-calendar {
    color: #22C493;
  }


  .fa-diamond {
    color:purple
  }

  .fa-certificate {
    color: #22C493;
  }

  .fa-usd {
    color: mediumseagreen;
  }

  .fa-lock {
    color:slategray;
  }

  .fa-list-ul {
    color: black;
  }

  .fa-exclamation-circle {
    color:#DF4A46;
  }